/* 

Application settings specific for alphacons 
This file will include variables, functions and mixins

*/


$main-color:#f8742b; // Orange tint
$secondary-color:#444; // Dark gray
$third-color:#ff6666; // Warm red
$over-color:#5d6967 //Greyish blueish color - mainly used for topbar nav dropdown


